<header class="header">
	<div>
		<div class = "header__container">
			<span class = "header__title">
				Palo Alto
			</span>
			<ul">
				<li class = "header__menu"><a href="#"><img src="../images/search.png"></a></li>
				<li class = "header__menu"><a href="#">profile</a></li>
				<li class = "header__menu"><a href="#">home</a></li>			
			</ul>	
		</div>
	</div>
</header>
