$font-italic: Lato-BoldItalic;
$bg-color: #f7f9fc;

.header{
	width: auto;
	height: 187px;
	background-color: $bg-color;

	&__container{
	font-family: $font-italic;
	font-size: 42px;
	color: #333333;
	margin: 0 auto;
	width: 952px;
	line-height: 187px;
	float: left;
	}
	
	&__menu{
	display: inline;
	float: right;
	margin-right: 80px;
	margin-top: 15px;
	font-size: 15px;
	font-family: $font-regular;
	}



}

ul{
	list-style-type: none;
)