<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./main.css" />
</head>
<body >
	<div class="side-menu">
		<div>
			<input class="side-menu__search" type="text" name="search" placeholder="SEARCH">
		</div>
		<div class="side-menu__divider"></div>
		<div>
			<ul  class = "side-menu__menu">
				<li><a href="/index.html">home</a></li>	
				<li><a href="/profile.html">profile</a></li>
			</ul>	
		</div>

		<div class="side-menu__footer">
			<div class="side-menu__logo-footer"><img srcset="pages/hui/images/side-menu-footer-logo.png 1x, /pages/hui/images/side-menu-footer-logo@2x.png 2x" /></div>

			<div class="side-menu__copyright">
				Designed & Developed by
				PixelBuddha Team
			</div>
		</div>
		
	</div>
</body>
</html>