
.side-menu{
	position: relative; 
	width: 240px;
	height: 100vh;
	background-color: #252b4d;
	/*box-shadow: 0 0 40px #ebedf0;*/

	&__search{
		width: 200px;
		height: 68px;
		border: none;
		background-color: #252b4d;
		color: #9597a3;
		font-family: $font-light;
		font-size: 16px;
		padding-left: 40px;
		background-image: url(/pages/hui/images/menu-search-white.png);
		background-position: 184px 26px;
		background-repeat: no-repeat;
	}

	&__menu{
		list-style-type: none;
		margin-top: 0;
		li{
			display: block;
			margin-top: 40px;
			a{
				font-size: 14px;
				font-family: $font-bold;
				text-transform: uppercase;
				color: #ffffff;
			}
		}
	}

	&__divider{
  		height: 1px;
  		background: #3b415f;
  		
	}

	&__footer{
		position: absolute; 
		bottom: 40px;
	}

	&__logo-footer{
		padding-left: 40px;
		margin-bottom: 20px;

	}

	&__copyright{
		padding-left: 40px;
		color: #9597a3;
		font-size: 13px;
		font-family: $font-regular;
		
	}

}

input:focus{
	border: none;
}

@media only screen and (min-device-pixel-ratio: 1.5) {
	.side-menu {
	  	&__search {
			background-image: url(/pages/hui/images/menu-search-white@2x.png);
		}
	}
}